*,
*::before,
*::after
{
    box-sizing: border-box;
}

html,
body
{
    font-family: system-ui, sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    line-height: 1.8;
}

.container
{
    max-width: 1200px;
    margin: auto;
    padding: 16px;
}

a
{
    color: #4F5B93;
    font-weight: bold;
}

a:hover
{
    color: #7A86B8;
}

.staticphp
{
    line-height: 1.8;
    background-color: #ffffff;
}

.staticphp a
{
    color: #4F5B93;
    font-weight: bold;
}

.staticphp a:hover
{
    color: #7A86B8;
}

.staticphp .header
{
    border-top: 12px solid #4F5B93;
}

.staticphp .header a
{
    text-decoration: none;
}

.staticphp .header,
.staticphp .footer
{
    color: #ffffff;
    background-color: #4F5B93;
}

.staticphp .header a,
.staticphp .footer a
{
    color: #ffffff;
}

.staticphp .footer
{
    border-top: 6px solid #7A86B8;
}

.staticphp .header .logo
{
    float: left;
}

.staticphp .header .logo h1
{
    margin: 0px;
    padding: 0px;
}

.staticphp .header .navbar
{
    float: right;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    padding-top: 8px;
}

.staticphp .header .navbar li
{
    display: inline;
    padding-left: 16px;
}

.staticphp .header .navbar a:hover,
.staticphp .header .navbar a.current
{
    text-decoration: underline;
}

.staticphp .clearfloat
{
    float: none;
    clear: both;
}

.staticphp .hero
{
    background-color: #eeeeee;
    padding-top: 32px;
    padding-bottom: 96px;
    text-align: center;
}

.staticphp .hero h2
{
    font-size: 32px;
}

.staticphp .hero p
{
    font-size: 24px;
    font-style: italic;
}

.staticphp .hero .call2action
{
    padding-top: 32px;
}

.staticphp .hero .call2action .button
{
    padding: 16px 24px;
    border-radius: 16px;
    border: 3px solid #7A86B8;
    color: #7A86B8;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

.staticphp .hero .call2action .button:hover
{
    border-color: #4F5B93;
    color: #4F5B93;
}

.staticphp .hero .call2action .button.highlight
{
    font-weight: bold;
}

.staticphp .features
{
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
}

.staticphp .features h3
{
    font-size: 32px;
    text-transform: uppercase;
}

.staticphp .features .feature h4
{
    font-size: 24px;
}

.staticphp .features .feature
{
    font-size: 18px;
}

.staticphp .key-features
{
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
}

.staticphp .key-features h3
{
    font-size: 32px;
    text-transform: uppercase;
}

.staticphp .key-features .feature h4
{
    font-size: 24px;
}

.staticphp .key-features .feature,
.staticphp .features .feature,
.staticphp .howitworks .step
{
    width: 33%;
    display: inline;
    padding: 16px;
    vertical-align: top;
}

.staticphp .key-features .feature
{
    font-size: 18px;
}

.staticphp .howitworks
{
    background-color: #eeeeee;
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
}

.staticphp .howitworks h3
{
    font-size: 32px;
    text-transform: uppercase;
}

.staticphp .howitworks .step h4
{
    font-size: 24px;
}

.staticphp .howitworks .step
{
    font-size: 18px;
}

.staticphp .footer
{
    font-size: 12px;
}

.staticphp .footer .container
{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    line-height: 20px;
}

.staticphp .docs-nav
{
    font-size: 16px;
    background-color: #7A86B8;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: -6px;
}

.staticphp .docs-nav ul
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.staticphp .docs-nav .container
{
    padding: 0px;
}

.staticphp .docs-nav li
{
    float: left;
}

.staticphp .docs-nav a
{
    color: #ffffff;
    padding: 16px;
    font-weight: 400;
    text-decoration: none;
}

.staticphp .docs-nav a.current
{
    font-weight: bold;
}

.staticphp .docs-nav a:hover
{
    text-decoration: underline;
}

.staticphp pre,
.staticphp code
{
    background-color: #eeeeee;
    padding: 4px;
    border-radius: 8px;
    overflow-x: auto;
    white-space: nowrap;
}

.staticphp .dropdown .button
{
    display: none;
}

@media ( min-width: 1px )
{
    .staticphp .hero .call2action .button
    {
        font-weight: bold;
    }

    .staticphp .hero .call2action .button.highlight
    {
        background-color: #7A86B8;
        color: #ffffff;
    }

    .staticphp .hero .call2action .button.highlight:hover
    {
        background-color: #4F5B93;
    }

    .staticphp .key-features .feature,
    .staticphp .features .feature,
    .staticphp .howitworks .step
    {
        display: inline-block;
    }
}

@media ( max-width: 800px )
{
    .staticphp .header .logo,
    .staticphp .header .navbar
    {
        float: none;
        text-align: center;
    }

    .staticphp .dropdown
    {
        position: static;
    }

    .dropdown:hover .button ~ .content
    {
        display: block;
    }

    .staticphp .dropdown .button
    {
        user-select: none;
        display: block;
        text-decoration: none;
        font-weight: bold;
    }

    .staticphp .dropdown:hover .button
    {
        text-decoration: none;
        background-color: #4F5B93;
    }

    .staticphp .dropdown .content
    {
        display: none;
    }

    .staticphp .docs-nav
    {
        text-align: center;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .staticphp .docs-nav li
    {
        float: none;
        display: block;
    }

    .staticphp .docs-nav a
    {
        line-height: 1.5;
        display: block;
    }

    .staticphp .docs-nav a:hover
    {
        background-color: #4F5B93;
    }

    .staticphp .key-features .feature,
    .staticphp .features .feature,
    .staticphp .howitworks .step
    {
        width: 100%;
    }

    .staticphp .footer .container
    {
        flex-direction: column;
        text-align: center;
    }

    .staticphp .hero .call2action .button
    {
        display: block;
    }
}