*,
*::before,
*::after
{
    box-sizing: border-box;
}

html,
body
{
    font-family: system-ui, sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

.container
{
    max-width: 1200px;
    margin: auto;
    padding: 16px;
}

a
{
    color: #4F5B93;
    font-weight: bold;
}

a:hover
{
    color: #7A86B8;
}

.header
{
    background-color: #4F5B93;
    border-bottom: 6px solid #7A86B8;
    color: #ffffff;
}

.header a
{
    color: #ffffff;
    text-decoration: none;
}

.header .logo
{
    float: left;
}

.header .logo h1
{
    margin: 0px;
    padding: 0px;
}

.header .navbar
{
    float: right;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    padding-top: 8px;
}

.header .navbar li
{
    display: inline;
    padding-left: 16px;
}

.header .navbar a:hover,
.header .navbar a.current
{
    text-decoration: underline;
}

.clearfloat
{
    float: none;
    clear: both;
}

.hero
{
    background-color: #eeeeee;
    padding-top: 32px;
    padding-bottom: 96px;
    text-align: center;
}

.hero h2
{
    font-size: 32px;
}

.hero p
{
    font-size: 24px;
    font-style: italic;
}

.hero .call2action
{
    padding-top: 32px;
}

.hero .call2action .button
{
    padding: 16px 24px;
    border-radius: 16px;
    border: 3px solid #7A86B8;
    color: #7A86B8;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

.hero .call2action .button:hover
{
    border-color: #4F5B93;
    color: #4F5B93;
}

.hero .call2action .button.highlight
{
    font-weight: bold;
}

.features
{
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
}

.features h3
{
    font-size: 32px;
    text-transform: uppercase;
}

.features .feature h4
{
    font-size: 24px;
}

.features .feature
{
    font-size: 18px;
}

.key-features
{
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
}

.key-features h3
{
    font-size: 32px;
    text-transform: uppercase;
}

.key-features .feature h4
{
    font-size: 24px;
}

.key-features .feature,
.features .feature,
.howitworks .step
{
    width: 33%;
    display: inline;
    padding: 16px;
    vertical-align: top;
}

.key-features .feature
{
    font-size: 18px;
}

.howitworks
{
    background-color: #eeeeee;
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
}

.howitworks h3
{
    font-size: 32px;
    text-transform: uppercase;
}

.howitworks .step h4
{
    font-size: 24px;
}

.howitworks .step
{
    font-size: 18px;
}

.footer
{
    font-size: 12px;
}

.docs-nav
{
    font-size: 16px;
    background-color: #7A86B8;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: -6px;
}
    
.docs-nav ul
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.docs-nav .container
{
    padding: 0px;
}

.docs-nav li
{
    float: left;
}

.docs-nav a
{
    color: #ffffff;
    padding: 16px;
    font-weight: 400;
    text-decoration: none;
}

.docs-nav a.current
{
    font-weight: bold;
}

.docs-nav a:hover
{
    text-decoration: underline;
}

pre
{
    background-color: #eeeeee;
    padding: 8px;
    border-radius: 8px;
}

@media ( min-width: 1px )
{
    .hero .call2action .button
    {
        font-weight: bold;
    }

    .hero .call2action .button.highlight
    {
        background-color: #7A86B8;
        color: #ffffff;
    }

    .hero .call2action .button.highlight:hover
    {
        background-color: #4F5B93;
    }

    .key-features .feature,
    .features .feature,
    .howitworks .step
    {
        display: inline-block;
    }
}